.flex { display: flex; }
.center { justify-content: center; align-items: center; }
.column { flex-direction: column; }

.w-full { width: 100%; }
.h-full { height: 100%; }

.hidden { display: none; }

.text-center { text-align: center; }

.mt-sm { margin-top: var(--sm); }
.mt-md { margin-top: var(--md); }
.mt-lg { margin-top: var(--lg); }

.p-sm { padding: var(--sm); }
.p-md { padding: var(--md); }
.p-lg { padding: var(--lg); }